# Common Command Aliases
Cmnd_Alias SHUTDOWN_CMDS = /sbin/poweroff, /sbin/shutdown, /sbin/reboot, /sbin/halt
Cmnd_Alias SERVICE = /sbin/service
Cmnd_Alias JAVA = /bin/java, /usr/bin/java
Cmnd_Alias WLS = /bin/su - wls
Cmnd_Alias AWS_SCRIPTS = /opt/scripts/*, /bin/aws, /usr/bin/chown
Cmnd_Alias ROOT = /bin/su -, /bin/bash
Cmnd_Alias RSYNC = /usr/bin/rsync
Cmnd_Alias LOGROTATE = /sbin/logrotate
